.carrossel__titulo{
  color: var(--cor-secundaria);
  background: var(--cor-branco);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1.25em 0;
}

.swiper-slide img{
width: 100%;
}

.swiper-button-prev,
.swiper-button-next{
  display: none;
}

.swiper-pagination{
  position: inherit;
  margin: 0.75em 0 1em 0;
}

@media screen and (min-width:1024px) {
.carrossel__titulo{
  font-size: 24px; 
  padding: 1.5em 0; 
}
.swiper-pagination {
  padding:2em 0em;
}

.swiper-pagination-bullet{
  width: .75em;
  height: .75em;
}

.swiper{
  width: 70%;
}

.swiper-slide{
  padding:2em 0em;
}

.swiper-button-prev,
.swiper-button-next{
  display: block;  
}

}

@media screen and (min-width: 1728px) {

  .swiper{
    max-width: 700px;
  }
  
  .carrossel__card{
   display: flex;
    margin: 2em 15vw;
    align-items: center;
  }

  .swiper-pagination {
    padding:.5em 0em;
    margin-top: 1.5em;
  }

  .swiper-slide{
    padding: 0em 0em;
  }


}